<div class="container">
  <div class="row">
    <div 
  class="card my-sm-3 m-md-3 m-lg-4 col-sm-12 col-md-4 col-lg-2"
  *ngFor="
    let item of dets;
  "
>
  <div class="card-img-top" [ngClass]="{'bg-red' : !item['status']}"></div>
  <div class="card-body">
    <h4 class="card-title">{{item.id}}</h4>
    <p class="card-text">{{item.name}}</p>
    <button class="btn btn-primary" (click)="deleteCard(item)">Удалить датчик</button>
  </div>
</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="input-group mb-5">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" placeholder="Введите название датчика" #detName>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="addCard(detName)">Добавить датчик</button>
      </div>
    </div>
  </div>
</div>